[submodule "components/sharedlib"]
	path = components/sharedlib
	url = git+ssh://git@github.com/skymage23/sharedlib
[submodule "components/bitchef-daemon"]
	path = components/bitchef-daemon
	url = git+ssh://git@github.com/skymage23/bitchef-daemon
[submodule "components/bitchef-cli"]
	path = components/bitchef-cli
	url = git+ssh://git@github.com/skymage23/bitchef-cli
[submodule "components/bitchef-sdk"]
	path = components/bitchef-sdk
	url = git+ssh://git@github.com/skymage23/bitchef-sdk
