[submodule "bitchef/sharedlib"]
	path = bitchef/sharedlib
	url = git+ssh://git@github.com/skymage23/sharedlib
[submodule "scripts/bitchef-daemon"]
	path = scripts/bitchef-daemon
	url = git+ssh://git@github.com/skymage23/bitchef-daemon
[submodule "scripts/bitchef-cli"]
	path = scripts/bitchef-cli
	url = git+ssh://git@github.com/skymage23/bitchef-cli
[submodule "bitchef-sdk"]
	path = bitchef-sdk
	url = git+ssh://git@github.com/skymage23/bitchef-sdk
